<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis</title>
</head>
<body>
    <div style="max-width:600px; margin:0 auto; text-align:center;">
        <h2>Sentiment Analysis Web App</h2>

        <form method="POST">
            <textarea name="review" rows="5" cols="60" placeholder="Enter your review here">{{ review_text }}</textarea><br><br>
            <button type="submit">Analyze</button>
        </form>

        {% if result %}

            <div style="border:1px solid #333; padding:15px; margin-top:25px; width:400px; border-radius:8px;">
                <h3>Result: {{ result }}</h3>

                <h3>Confidence: {{ confidence }}%</h3>
            </div>
        {% endif %}

        {% if debug %}
        <!--<div style="border:1px solid #888; padding:15px; margin-top:15px; width:400px; border-radius:8px; text-align:center;">-->
            <!--<h4>debug details:</h4>-->
            <!--<h4>Tokens: {{ debug.tokens }}</h4>-->
            <!--<h4>Sequence length: {{ debug.seq_len }}</h4>-->
            <!--<h4>OOV words: {{ debug.oov_words }}</h4>-->
        <!--</div>-->
        {% endif %}
    </div>
</body>
</html>
